/* src/App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}
